.buscador {
  align-items: center;
  background-color: #e4e4e4;
  border-radius: 5px;
  display: flex;
  gap: 18px;
  height: 42px;
  justify-content: space-between;
  padding: 0 15px;
  width: 400px;
  width: 100%;
}

/*@media (max-width: 768px) {
  .buscador {
    width: 100%;
  }
}*/
.buscador--input {
  background-color: #e4e4e4;
  color: #2a2a35;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  width: 100%;
}
input.buscador--input:placeholder-shown {
  color: #2a2a35 !important;
}
