.btn-custons {
  border: 3px solid white;
}
.btn-custons::before {
  content: "";
  font-size: 12px;
  font-weight: bold;
}
.btn-custons--success::before {
  content: "\271A";
}

.btn-custons--info::before {
  content: "\1F58A";
}
.btn-custons--danger::before {
  content: "\2613";
}
.btn-custons--default::before {
  content: "\1F576";
  color: black;
}
.icon-user::before {
  content: "\1F575";
}
.icon-categoria::before {
  content: "\1F4CC";
}
.icon-menu::before {
  content: "\e904";
}
.icon-artigo::before {
  content: "\1F4C3";
}
