.about__cabecalho {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 2rem;
  margin: 3rem 2rem;
}
.about__cabecalho--modifield {
  border-bottom: 2px solid;
  padding: 2rem;
  margin: 0 2rem auto 2rem;
}
.about__titulo {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: justify;
}
.about__subtitulo {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  margin: 0;
}
.about_infor {
  margin-left: 3rem;
}
.about_infor-link:before {
  content: "\1F5F8";
  margin-right: 5px;
}
.about__text {
  text-align: justify;
  font-weight: 500;
}
.about__legend {
  font-size: 1.2rem;
  color: gray;
}
.btn-about__custom {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  font-size: 1.1rem;
  min-width: unset;
  width: 20%;
  box-sizing: border-box;
  font-weight: 600;
  background-color: #343a40;
  color: var(--portifolio-clab);
}
.btn-about__custom {
  background-color: #2685e4;
  color: var(--portifolio-clab);
}

/*Accordion*/
/* Demo Background */

/* Form Style */
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

#accordion .panel {
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0 2rem 2rem 0.5rem;
}

#accordion .panel-heading {
  padding: 0;
  border-radius: 0;
  text-align: center;
  border: none;
}

#accordion .panel-title a {
  display: block;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: var(--branco);
  background: rgb(155, 100, 32);
  transition: all 0.5s ease 0s;
}

#accordion .panel-title a:hover {
  background: rgba(31, 23, 10, 0.8);
}

#accordion .panel-body {
  font-size: 14px;
  color: var(--black);
  background: #faebcc;
  padding: 15px 20px;
  line-height: 25px;
  border: none;
  position: relative;
  box-sizing: border-box;
}

#accordion .panel-body:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 40px;
  border: 15px solid transparent;
  border-bottom: 15px solid #faebcc;
}

/*---------------------
    Links Uteis
  -----------------------*/

ul.chec-radio {
  margin: 15px;
}
ul.chec-radio li.pz {
  display: inline;
}
.chec-radio label.radio-inline input[type="checkbox"] {
  display: none;
}
.chec-radio label.radio-inline input[type="checkbox"]:checked + div {
  color: var(--branco);
  background-color: var(--black);
}
.chec-radio .radio-inline .clab {
  cursor: pointer;
  /*background: var(--portifolio-clab);*/
  padding: 7px 20px;
  text-align: center;
  text-transform: uppercase;
  /*color: #333;*/
  position: relative;
  height: 34px;
  float: left;
  margin: 0;
  margin-bottom: 5px;
}
.clab--linux {
  background-color: #333;
  color: var(--portifolio-clab);
}
.clab--win {
  background-color: rgb(6, 2, 50);
  color: var(--portifolio-clab);
}
.clab--spring {
  background-color: yellow;
  color: rgb(23, 56, 23);
}
.clab--sql {
  background-color: rgb(70, 16, 59);
  color: var(--portifolio-clab);
}
.clab--mysql {
  background-color: rgb(243, 80, 10);
  color: var(--portifolio-clab);
}
.clab--java {
  background-color: rgb(44, 166, 207);
  color: var(--portifolio-clab);
}
.clab--dev {
  background-color: var(--portifolio-clab);
  color: var(--black);
}

.chec-radio label.radio-inline input[type="checkbox"]:checked + div:before {
  content: "\e013";
  margin-right: 5px;
  font-family: "Glyphicons Halflings";
}
.chec-radio label.radio-inline input[type="radio"] {
  display: none;
}
.chec-radio label.radio-inline input[type="radio"]:checked + div {
  color: var(--branco);
  background-color: var(--black);
}
.chec-radio label.radio-inline input[type="radio"]:checked + div:before {
  content: "\e013";
  margin-right: 5px;
  font-family: "Glyphicons Halflings";
}

@media screen and (max-width: 767px) {
  .btn-about__custom {
    width: auto;
  }
  .about_infor-link {
    text-align: justify;
  }
  .portifolio__name {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1020px) {
  .about__cabecalho {
    padding: 0.599rem;
    margin: 2rem 1rem;
  }
}
