#root {
  overflow-x: hidden;
}
a,
a:hover,
a:focus {
  color: var(--branco);
}
.img-destaque {
  width: 770px;
  height: 380px;
}
.img-subdestaque {
  width: 330px;
  height: 220px;
}
.img-subdestaque--recents {
  height: 320px;
}
.img-cardrecents {
  width: 105px;
  height: 80px;
}
.img-blogdestaque {
  width: 520px;
  height: 340px;
}
/*---------------------   Blog -----------------------*/
.blog__banner {
  border: 1px solid var(--blog-item-banner);
  margin-top: 30px;
  width: 100%;
  height: auto;
}
.blog-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.blog-item {
  overflow: hidden;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--blog-item-banner);
  margin-bottom: 30px;
}
.blog-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 50px;
}
.blog-item.large-blog {
  padding-bottom: 25px;
}
.blog-artigo {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: var(--blog-artigo);
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px 0;
}
.blog-artigo--limit-line {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  display: -webkit-box; /*-webkit-line-clamp: 3;*/
  -webkit-box-orient: vertical;
}
.blog-artigo--attr {
  font-size: 1.2em !important;
}
.blog-artigo--one-line {
  text-align: left;
  -webkit-line-clamp: 1;
}
.blog-artigo--two-line {
  text-align: left;
  -webkit-line-clamp: 2;
}
.blog-artigo--three-line {
  text-align: left;
  -webkit-line-clamp: 3;
}
.blog-item.large-blog .bi-pic {
  float: none;
  margin-bottom: 25px;
  margin-right: 0;
}
.blog-item.large-blog .bi-pic img {
  min-width: 100%;
}
.blog-item.large-blog .bi-pic .bi-text {
  overflow: visible;
}
.blog-item .bi-pic {
  float: left;
  margin-right: 30px;
}
.blog-item .bi-text {
  overflow: hidden;
}
.blog-item .bi-text h4 {
  margin-bottom: 6px;
}
.blog-item .bi-text h4 a {
  line-height: 31px;
  font-weight: 700;
  color: var(--blog-item);
}
.blog-item .bi-text h5 {
  margin-bottom: 6px;
}
.blog-item .bi-text h5 a {
  font-size: 20px;
  line-height: 31px;
  font-weight: 700;
  color: var(--blog-item);
}
.blog-item .bi-text ul {
  margin-bottom: 16px;
}
.blog-item .bi-text ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: var(--blog-sidebar);
  font-weight: 500;
  margin-right: 32px;
}
.blog-item .bi-text ul li:last-child {
  margin-right: 0;
}
.blog-item .bi-text ul li:last-child:after {
  display: none;
}
.blog-item .bi-text ul li span {
  color: var(--blog-item);
  font-weight: 600;
}
.blog-item .bi-text ul li:after {
  position: absolute;
  right: -23px;
  top: 6px;
  height: 6px;
  width: 6px;
  border: 1px solid var(--blog-sidebar-post);
  content: "";
  transform: rotate(45deg);
}
.blog-item .bi-text .read-more {
  font-size: 14px;
  color: var(--blog-item);
  font-weight: 600;
}
.blog-item .bi-text .read-more span {
  font-size: 16px;
  position: relative;
  top: 4px;
  right: -2px;
  font-weight: 600;
}
.blog-sidebar .follow-us {
  margin-bottom: 60px;
}
.blog-sidebar .follow-us .fu-links a {
  font-size: 14px;
  color: var(--branco);
  height: 46px;
  width: 46px;
  background: #3263af;
  line-height: 46px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.blog-sidebar .follow-us .fu-links a:last-child {
  margin-right: 0;
}
.blog-sidebar .follow-us .fu-links a.twitter {
  background: #40c4ff;
}
.blog-sidebar .follow-us .fu-links a.youtube {
  background: #ff0000;
}
.blog-sidebar .follow-us .fu-links a.instagram {
  background: linear-gradient(45deg, #af00e1, #ff9e35);
}
.blog-sidebar .feature-post {
  margin-bottom: 60px;
}
.blog-sidebar .feature-post .recent-post .rp-item {
  overflow: hidden;
  margin-bottom: 30px;
}
.blog-sidebar .feature-post .recent-post .rp-item .rp-pic {
  float: left;
  margin-right: 20px;
}
.blog-sidebar .feature-post .recent-post .rp-item .rp-text h6 {
  margin-bottom: 4px;
}
.blog-sidebar .feature-post .recent-post .rp-item .rp-text h6 a {
  color: var(--blog-item);
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 21px;
  font-size: 16px;
}
.blog-sidebar .feature-post .recent-post .rp-item .rp-text span,
.blog-recents {
  font-size: 12px;
  color: var(--blog-sidebar);
  position: relative;
  padding-left: 22px;
}
.blog-sidebar .feature-post .recent-post .rp-item .rp-text span:after,
.blog-recents:after {
  position: absolute;
  left: 0;
  top: 5px;
  height: 6px;
  width: 6px;
  border: 1px solid var(--blog-sidebar-post);
  content: "";
  transform: rotate(45deg);
}
.subscribe-form {
  box-shadow: -5px -5px 5px 5px gray;
}
.blog-sidebar .subscribe-form {
  background: #f5f5f5;
  padding: 30px;
}
.blog-sidebar .subscribe-form .section-title {
  margin-bottom: 25px;
}
.blog-sidebar .subscribe-form form input {
  font-size: 14px;
  color: var(--blog-sidebar);
  font-weight: 500;
  width: 100%;
  height: 50px;
  border: 1px solid #cccccc;
  padding-left: 20px;
  background: transparent;
  margin-bottom: 20px;
}
.blog-sidebar .subscribe-form form input::placeholder {
  color: var(--blog-sidebar);
}
.section-title {
  margin-bottom: 40px;
}
.section-title.sidebar-title-b {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
}
.section-title h4,
.section-title h5,
.section-title h6 {
  color: var(--blog-item);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 20px;
}
.section-title h4:after,
.section-title h5:after,
.section-title h6:after {
  position: absolute;
  left: 0;
  top: -9px;
  width: 5px;
  height: 46px;
  background: #00c89e;
  content: "";
}
.section-title.sidebar-title-b h6:after {
  height: 20px;
  top: 0;
}
.site-btn {
  font-size: 14px;
  color: var(--branco);
  background-image: linear-gradient(var(--blog-breadcrumb), #bd9664);
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 30px;
} /*---------------------   Blog Details -----------------------*/
.blog-details-section {
  /*padding-top: 80px;*/
  padding-top: 20px;
  padding-bottom: 30px;
}
.blog-details-content .bc-top {
  margin-bottom: 24px;
}
.blog-details-content .bc-top p {
  font-size: 15px;
  line-height: 27px;
}
.m-auto--center {
  margin: auto;
  padding: 0;
  float: none;
}
.blog-details-content--tipografia {
  text-align: justify;
}
.blog-details-content .bc-top p.blog,
.blog-details-content .bc-details .bc-text p.blog,
.blog-details-content .bc-desc p.blog,
.blog-details-content .bc-desc-last p.blog,
.blog-details-content .bc-quote .bq-text p.blog {
  font-size: 20px;
  line-height: 27px;
}
.blog-details-content .bc-details {
  margin-bottom: 15px;
  overflow: hidden;
}
.blog-details-content .bc-details .bc-pic {
  float: left;
  margin-right: 30px;
}
.blog-details-content .bc-details .bc-text {
  overflow: hidden;
}
.blog-details-content .bc-details .bc-text p {
  font-size: 15px;
  line-height: 27px;
}
.blog-details-content .bc-desc {
  margin-bottom: 30px;
}
.blog-details-content .bc-desc p {
  font-size: 15px;
  line-height: 27px;
}
.blog-details-content .bc-quote {
  overflow: hidden;
  margin-bottom: 6px;
}
.blog-details-content .bc-quote .bq-icon {
  width: 75px;
  height: 75px;
  border: 1px solid var(--blog-item-banner);
  border-radius: 50%;
  line-height: 75px;
  text-align: center;
  font-size: 30px;
  color: #00c89e;
  float: left;
  margin-right: 20px;
}
.blog-details-content .bc-quote .bq-text {
  overflow: hidden;
}
.blog-details-content .bc-quote .bq-text p {
  color: var(--blog-item);
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  line-height: 30px;
}
.blog-details-content .bc-desc-last {
  margin-bottom: 33px;
}
.blog-details-content .bc-desc-last p {
  font-size: 15px;
  line-height: 27px;
}
.blog-details-content .bc-tags {
  margin-bottom: 50px;
}
.blog-details-content .bc-tags a {
  font-size: 13px;
  color: var(--blog-artigo);
  display: inline-block;
  border: 1px solid var(--blog-item-banner);
  padding: 8px 15px;
  margin-right: 6px;
  margin-bottom: 10px;
}
.blog-details-content .bc-related-post {
  background: #f5f5f5;
  padding: 15px 20px 12px;
  margin-bottom: 65px;
}
.blog-details-content .bc-related-post .previous-post,
.blog-details-content .bc-related-post .next-post {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--blog-item);
}
.blog-details-content .bc-related-post .previous-post i,
.blog-details-content .bc-related-post .next-post i {
  margin-right: 5px;
  font-weight: 700;
}
.blog-details-content .bc-related-post .next-post {
  float: right;
}
.blog-details-content .bc-related-post .next-post i {
  margin-left: 5px;
  margin-right: 0;
}
.blog-details-content .bc-widget {
  margin-bottom: 30px;
}
.blog-details-content .bc-widget h4 {
  color: var(--blog-item);
  text-transform: uppercase;
  margin-bottom: 35px;
  font-weight: 700;
}
.blog-details-content .bc-widget .related-post .related-item {
  margin-bottom: 30px;
}
.blog-details-content .bc-widget .related-post .related-item .ri-pic {
  margin-bottom: 15px;
}
.blog-details-content .bc-widget .related-post .related-item .ri-pic img {
  min-width: 100%;
}
.blog-details-content .bc-widget .related-post .related-item .ri-text h6 {
  color: var(--blog-item);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 4px;
}
.blog-details-content .bc-widget .related-post .related-item .ri-text span {
  font-size: 12px;
  color: var(--blog-sidebar);
  position: relative;
  padding-left: 22px;
}
.blog-details-content
  .bc-widget
  .related-post
  .related-item
  .ri-text
  span:after {
  position: absolute;
  left: 0;
  top: 5px;
  height: 6px;
  width: 6px;
  border: 1px solid var(--blog-sidebar-post);
  content: "";
  transform: rotate(45deg);
}
.blog-details-content .bc-widget .comment-option {
  margin-bottom: 55px;
}
.blog-details-content .bc-widget .comment-option .co-item {
  overflow: hidden;
  margin-bottom: 20px;
}
.blog-details-content .bc-widget .comment-option .co-item.reply-item {
  padding-left: 115px;
}
.blog-details-content .bc-widget .comment-option .co-item .ci-pic {
  float: left;
  margin-right: 25px;
}
.blog-details-content .bc-widget .comment-option .co-item .ci-pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.blog-details-content .bc-widget .comment-option .co-item .ci-text {
  overflow: hidden;
  position: relative;
}
.blog-details-content .bc-widget .comment-option .co-item .ci-text h5 {
  color: var(--blog-item);
  font-weight: 700;
  margin-bottom: 13px;
}
.blog-details-content .bc-widget .comment-option .co-item .ci-text p {
  font-size: 15px;
  line-height: 26px;
}
.blog-details-content .bc-widget .comment-option .co-item .ci-text ul {
  position: absolute;
  right: 0;
  top: 0;
}
.blog-details-content .bc-widget .comment-option .co-item .ci-text ul li {
  list-style: none;
  font-size: 12px;
  color: #888888;
  margin-right: 25px;
  display: inline-block;
}
.blog-details-content
  .bc-widget
  .comment-option
  .co-item
  .ci-text
  ul
  li:last-child {
  margin-right: 0;
}
.blog-details-content .bc-widget .comment-option .co-item .ci-text ul li i {
  font-size: 14px;
  color: #00c89e;
  margin-right: 5px;
} /*---------------------   Blog Hero -----------------------*/
.blog-hero-section {
  height: 640px;
  display: flex;
  align-items: center;
  text-align: center;
}
.bh-text {
  display: inline-block;
  background: var(--branco);
  text-align: center;
  padding: 35px 65px 32px 65px;
}
.bh-text--card {
  background-color: var(--btn-left);
  color: var(--branco);
}
.bh-text h4 {
  margin-bottom: 6px;
  line-height: 31px;
  font-weight: 700;
  color: var(--blog-item);
}
.bh-text ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: var(--blog-bh-text);
  font-weight: 500;
  margin-right: 32px;
}
.bh-text ul li:last-child {
  margin-right: 0;
}
.bh-text ul li:last-child:after {
  display: none;
}
.bh-text ul li span {
  color: var(--blog-item);
  font-weight: 600;
}
.bh-text ul li span.text--card {
  color: var(--blog-bh-text);
  font-weight: 600;
}
.bh-text ul li:after {
  position: absolute;
  right: -23px;
  top: 6px;
  height: 6px;
  width: 6px;
  border: 1px solid var(--blog-sidebar-post);
  content: "";
  transform: rotate(45deg);
} /*---------------------   Pagination -----------------------*/
svg:not(:root) {
  vertical-align: middle;
  border: 0;
  margin-bottom: 2px;
}
ul,
ol {
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
}
.property-pagination {
  text-align: center;
  padding-top: 10px;
}
.property-pagination.blog-pagination {
  text-align: left;
  padding-top: 0;
}
.property-pagination.blog-pagination a,
.property-pagination.blog-pagination button {
  color: var(--blog-artigo);
}
.property-pagination a,
.property-pagination button {
  display: inline-block;
  height: 46px;
  width: 46px;
  background: #f2f2f2;
  color: var(--blog-item);
  font-size: 20px;
  font-weight: 600;
  line-height: 46px;
  text-align: center; /*border-radius: 50%;*/
  transition: all 0.3s;
  margin-right: 6px;
}
.property-pagination button {
  line-height: 26px;
}
.property-pagination a:last-child,
.property-pagination button:last-child {
  margin-right: 0;
}
.property-pagination a:hover,
.property-pagination button:hover {
  background: #00c89e;
  color: var(--branco);
}
.property-pagination a.icon span,
.property-pagination button.icon span {
  position: relative;
  top: 5px;
}
.property-pagination a span,
.property-pagination button span {
  font-size: 27px;
}
.ml-4 {
  margin-left: 4px;
}
@media only screen and (max-width: 767px) {
  .blog-sidebar {
    padding-top: 50px;
  }
  .blog-item .bi-pic {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .blog-details-section .p-0 {
    padding: 0 15px !important;
  }
  .blog-details-content .bc-details .bc-pic {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .blog-details-content .bc-details .bc-pic img {
    min-width: 100%;
  }
  .blog-details-content .bc-widget .comment-option .co-item .ci-text ul {
    position: relative;
  }
  .blog-details-content .bc-related-post .next-post {
    float: none;
    display: block;
    text-align: right;
    margin-top: 10px;
  }
  .blog-details-content .bc-widget .comment-option .co-item.reply-item {
    padding-left: 0;
  }
  .blog-details-content .bc-widget .comment-option .co-item .ci-text ul li {
    margin-right: 5px;
  }
  .blog-details-content .bc-widget .comment-option .co-item .ci-pic {
    float: none;
    margin-bottom: 20px;
  }
  .blog-details-content .bc-widget .comment-option .co-item.reply-item {
    padding-left: 10%;
  }
  .img-destaque,
  .img-subdestaque,
  .img-blogdestaque {
    width: 100%;
    max-height: 240px;
  }
  .blog-section {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  div.principal-page__logo > svg {
    height: 320px;
  }
}
