/*=======================BotÃµes*/
.btn-custom {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  margin: 0px 15px;
  font-size: 15px;
  min-width: 364px;
}
.btn-rigth {
  color: var(--btn-font-rigth);
  border: 2px solid var(--ouro-escuro);
}
.btn-rigth:hover {
  background-color: var(--ouro-escuro);
  color: beige;
}
.btn-left {
  color: var(--branco);
  background-color: var(--orange-six);
}
.btn-left:hover {
  background-color: var(--btn-left);
  color: var(--branco);
  transition: 2s;
}
