header {
  position: relative;
  clip-path: inset(0);
}
.principal {
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
/*Capa principal do Layout*/
.capa {
  display: table;
  width: 100%;
  height: 100%;
}
.texto-capa {
  text-align: center;
  color: var(--ouro-escuro);
  display: table-cell;
  vertical-align: middle;
}
