.img-logo {
  height: 40px;
  width: 132px;
  background: url("../img/logo/logo-02.png") no-repeat;
  background-size: contain;
  display: block;
  color: transparent;
  text-align: center;
}
.divisor {
  margin: 16px 10px;
  width: 1px;
  height: 16px;
  background: var(--branco);
}
nav.navbar-transparente {
  background: var(--black-six);
  padding: 1rem 1.875rem;
  border: none;
}
.navbar-brand {
  padding-top: 0.313rem;
}
.navbar-inverse .navbar-nav > li > a {
  color: var(--branco);
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: var(--orange);
}
