.principal-portifolio {
  min-height: 1024px;
  background: rgba(0, 0, 0, 0.8);
  color: #c1c1c1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
ul {
  padding: 0;
  list-style-type: none;
}
.mtx {
  margin-top: 5px;
}
.portifolio__border-unset {
  border: unset;
}
.portifolio__border-bottom-unset {
  border-bottom: unset;
}
.portifolio-reset {
  padding: 0px;
}
.portifolio__linha {
  width: 410px;
  /*background-color: #252526;*/
  background-color: #111111;
  border-radius: 0px 40px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 5px 0px 0px 5px;
  z-index: 1;
  overflow-x: hidden;
}
.portifolio__linha-tempo {
  display: flex;
  flex-direction: column;
}
.portifolio__img {
  border-radius: 10%;
  box-shadow: 2px 1px 1px 2px #c1c1c1;
  width: 140px;
  margin: 30px 0;
  align-self: center;
}
.portifolio__img:hover {
  transition: 5s;
  transform: scale(1.3);
}
.portifolio__name,
.portifolio__funcao {
  text-align: center;
  padding: 0;
  margin-bottom: 1px;
  box-sizing: border-box;
}
.portifolio__name {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "lato";
}
.portifolio__funcao {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: Georgia;
}
.portifolio__redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 20px 0;
}
.portifolio__redes--mini {
  width: 28px;
}

.portifolio-menu__lateral {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none !important;
}
.portifolio-menu__lateral--link {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.portifolio-menu__lateral--link-ativo {
  color: orange;
  border-left: 8px solid rgb(155, 100, 32);
  background-image: linear-gradient(to left, rgb(56, 58, 71), rgb(30, 83, 90));
}
/*Secao Artigos*/
.portifolio-blog {
  /*background-color: #1e1e1e;*/
  border-radius: 40px;
  min-height: 680px;
  padding: 1.5rem 3rem;
}
.portifolio__artigos {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
.portifolio__around {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  box-shadow: 2px 1px 1px 2px #000000;
}
.portifolio__slog {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 3rem 1rem;
  margin: 2px;
  border-radius: 20px;
  background-color: teal;
  text-transform: uppercase;
}
.portifolio__data {
  font-size: 1rem;
}
.portifolio__titulo {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Montserrat";
}
.portifolio__subtitulo {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: Verdana, "lato";
}

@media screen and (max-width: 1200px) {
  .portifolio__linha{
    width: 380px;
  }
  .portifolio-reset {
    padding: inherit;
  }
  .portifolio__slog {
    border-radius: 10px;
  }
  .portifolio__around {
    border-radius: 10px;
    padding: 0.8rem 1rem;
  }
  .row-mod {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 1100px) {
  .portifolio__linha{
    width: 340px;
  }
}
@media screen and (max-width: 1000px) {
  .ativa {
    display: none;
  }
  .portifolio__linha {
    width: 100vw !important;
    position: relative;
    border-radius: 10px;
    margin: 2rem 0;
  }
  .portifolio-blog {
    width: 100%;
    min-height: auto;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
  }
  .portifolio__artigos {
    margin: 12px auto;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .ativa {
    display: none;
  }
  .principal-portifolio {
    min-height: auto;
  }

}